/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #0ea1c5;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$background                 : #20262d;
$background-light           : mix(#fff, $background, 80%);
$background-lighter         : mix(#fff, $background, 90%);
$text                       : #ffffff;
$link                       : #0ea1c5;
$link-dark                  : mix(#000, $link, 25%);
$link-light                 : mix(#fff, $link, 25%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #59bed9;
    --global-button-bg-color            : #0b6079;
    --global-button-bg-color-hover      : #08495d;
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #171b20;
    --global-border-color               : #59636b;
    --global-dark-border-color          : #707a84;
    --global-code-background-color      : #161b22;
    --global-code-text-color            : #f0f3f5;
    --global-fig-caption-color          : #c5ccd3;
    --global-link-color                 : #72c8e3;
    --global-link-color-hover           : #a1def1;
    --global-link-color-visited         : #c4afe8;
    --global-masthead-link-color        : #f4f6f8;
    --global-masthead-link-color-hover  : #72c8e3;
    --global-text-color                 : #f4f6f8;
    --global-text-color-light           : #d5dbe0;
    --global-thead-color                : #2e3740;
    --global-focus-color                : #ffd166;
}
