{%- assign schema_home_url = site.url | append: site.baseurl | append: "/" -%}
{%- assign schema_website_id = schema_home_url | append: "#website" -%}
{%- assign schema_profile_id = schema_home_url | append: "#profilepage" -%}
{%- assign schema_person_id = schema_home_url | append: "#person" -%}
{%- assign schema_image_url = schema_home_url | append: "images/" | append: site.author.avatar -%}
{%- assign schema_image_id = schema_home_url | append: "#profile-image" -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": {{ schema_website_id | jsonify }},
      "url": {{ schema_home_url | jsonify }},
      "name": {{ site.title | jsonify }},
      "description": {{ site.description | strip_html | strip_newlines | jsonify }},
      "inLanguage": {{ site.locale | default: "en-US" | jsonify }},
      "publisher": {
        "@id": {{ schema_person_id | jsonify }}
      }
    },
    {
      "@type": "ProfilePage",
      "@id": {{ schema_profile_id | jsonify }},
      "url": {{ schema_home_url | jsonify }},
      "name": {{ site.name | default: site.title | jsonify }},
      "description": {{ site.description | strip_html | strip_newlines | jsonify }},
      "isPartOf": {
        "@id": {{ schema_website_id | jsonify }}
      },
      "mainEntity": {
        "@id": {{ schema_person_id | jsonify }}
      },
      "inLanguage": {{ site.locale | default: "en-US" | jsonify }}
    },
    {
      "@type": "Person",
      "@id": {{ schema_person_id | jsonify }},
      "name": "Mengfei Li",
      "alternateName": [
        "Li Mengfei",
        "李梦飞",
        "Mengfei LI"
      ],
      "givenName": "Mengfei",
      "familyName": "Li",
      "jobTitle": "PhD Candidate in Management Science",
      "description": {{ site.data.profile.job_market.statement_en | jsonify }},
      "url": {{ schema_home_url | jsonify }},
      "mainEntityOfPage": {
        "@id": {{ schema_profile_id | jsonify }}
      },
      "image": {
        "@type": "ImageObject",
        "@id": {{ schema_image_id | jsonify }},
        "url": {{ schema_image_url | jsonify }},
        "contentUrl": {{ schema_image_url | jsonify }},
        "width": 1280,
        "height": 1280
      },
      "email": {{ site.author.email | prepend: "mailto:" | jsonify }},
      "affiliation": {
        "@type": "CollegeOrUniversity",
        "name": "School of Management, Fudan University",
        "url": "https://www.fdsm.fudan.edu.cn/en/",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Shanghai",
          "addressCountry": "CN"
        }
      },
      "knowsAbout": {{ site.data.profile.research.interests | jsonify }},
      "sameAs": [
        {%- assign same_as_separator = "" -%}
        {%- if site.author.googlescholar -%}
          {{- same_as_separator -}}{{- site.author.googlescholar | jsonify -}}
          {%- assign same_as_separator = "," -%}
        {%- endif -%}
        {%- if site.author.orcid -%}
          {{- same_as_separator -}}{{- site.author.orcid | jsonify -}}
          {%- assign same_as_separator = "," -%}
        {%- endif -%}
        {%- if site.author.researchgate -%}
          {{- same_as_separator -}}{{- site.author.researchgate | jsonify -}}
          {%- assign same_as_separator = "," -%}
        {%- endif -%}
        {%- if site.author.ssrn -%}
          {{- same_as_separator -}}{{- site.author.ssrn | jsonify -}}
          {%- assign same_as_separator = "," -%}
        {%- endif -%}
        {%- if site.author.github -%}
          {{- same_as_separator -}}{{- "https://github.com/" | append: site.author.github | jsonify -}}
        {%- endif -%}
      ]
    }
  ]
}
</script>
