{% include base_path %}
{% assign talk_items = site.talks | sort: "sort_date" %}
{% assign presentation_items = talk_items | where: "presentation_type", "Conference presentation" %}
{% assign presentation_groups = presentation_items | group_by: "paper_id" %}

{% for group in presentation_groups %}
  {% assign related_publication = site.publications | where: "project_id", group.name | first %}
  {% if include.context == "cv" %}
<h3>{% if related_publication %}{{ related_publication.title }}{% else %}{{ group.name }}{% endif %}</h3>
  {% else %}
<h2>{% if related_publication %}<a href="{{ base_path }}{{ related_publication.url }}">{{ related_publication.title }}</a>{% else %}{{ group.name }}{% endif %}</h2>
  {% endif %}
<ul class="talk-list">
    {% for talk in group.items %}
<li>
        {% unless include.context == "cv" %}<a href="{{ base_path }}{{ talk.url }}">{% endunless %}<strong>{{ talk.venue }}</strong>{% unless include.context == "cv" %}</a>{% endunless %}, {{ talk.location }}, {{ talk.display_date }}
</li>
    {% endfor %}
</ul>
{% endfor %}

{% if include.show_participation %}
  {% assign participation_items = talk_items | where: "presentation_type", "Conference participation" %}
  {% if participation_items.size > 0 %}
{% if include.context == "cv" %}<h2>Conference Participation</h2>{% else %}<h2>Academic Participation</h2>{% endif %}
<ul class="talk-list">
      {% for talk in participation_items %}
<li>
          {% unless include.context == "cv" %}<a href="{{ base_path }}{{ talk.url }}">{% endunless %}<strong>{{ talk.venue }}</strong>{% unless include.context == "cv" %}</a>{% endunless %}, “{{ talk.title }},” {{ talk.location }}, {{ talk.display_date }}
</li>
      {% endfor %}
</ul>
  {% endif %}
{% endif %}
